{% extends 'base.html' %}

{% block content %}

<section class="section-content padding-y bg" style="min-height: 520px;">
    <div class="container">

        <div class="row">

            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart" style="text-align: center;">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="170">Thành tiền</th>
                                <th scope="col" class="text-right" width="150">Loại bỏ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center" style="text-align: left;">
                                        <div class="aside"><img src="./images/items/11.jpg" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">Camera Canon EOS M50 Kit</a>
                                            <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p>
                                        </figcaption>
                                    </figure>
                                </td>

                                <td>
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light" type="button" id="button-plus">
                                                    <i class="fa fa-minus"></i> </button>
                                            </div>
                                            <input type="text" class="form-control" value="1">
                                            <div class="input-group-append">
                                                <button class="btn btn-light" type="button" id="button-minus">
                                                    <i class="fa fa-plus"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="price-wrap">
                                        <var class="price">150000 VNĐ</var>
                                        <small class="text-muted"> 50000 VNĐ mỗi cái</small>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <a href="" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </aside>

            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Tiền sản phẩm:</dt>
                            <dd class="text-right">150000 VNĐ</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Thuế:</dt>
                            <dd class="text-right"> 15000 VNĐ</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tổng phải trả:</dt>
                            <dd class="text-right text-dark b"><strong>165000 VNĐ</strong></dd>
                        </dl>
                        <hr>
                        <!-- <p class="text-center mb-3">
                            <img src="./images/misc/payments.png" height="26">
                        </p> -->
                        <a href="./place-order" class="btn btn-primary btn-block">
                            <i class="far fa-credit-card"></i> Thanh toán
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{% endblock content %}