{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg" style="min-height: 520px;">
    <div class="container">

        {% if not cart_items %}
        <h1 class="text-center text-danger">Giỏ hàng của bạn trống !</h1>
        {% else %}
        <div class="row">

            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart" style="text-align: center;">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="170">Thành tiền</th>
                                <th scope="col" class="text-right" width="150">Loại bỏ</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for ci in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center" style="text-align: left;">
                                        <a href="{{ ci.product.get_detail }}" class="aside">
                                            <img src="{{ ci.product.image.url }}" class="img-sm">
                                        </a>
                                        <figcaption class="info">
                                            <a href="{{ ci.product.get_detail }}" class="title text-dark">
                                                {{ ci.product.name }}
                                            </a>
                                            <p class="text-muted small">Đơn giả : {{ ci.product.price }} VNĐ</p>
                                        </figcaption>
                                    </figure>
                                </td>

                                <td>
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <a href="{% url 'minus_cart' ci.product.id %}" class="btn btn-light"
                                                    type="button" id="button-plus">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            </div>

                                            <input type="text" class="form-control" value="{{ ci.quantity }}">

                                            <div class="input-group-append">
                                                <a href="{% url 'plus_cart' ci.product.id %}" class="btn btn-light"
                                                    type="button" id="button-minus">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="price-wrap">
                                        <var class="price">{{ ci.cart_total }} VNĐ</var>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <a href="{% url 'remove_cart' ci.product.id %}" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </aside>

            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="dlist-align">
                            <span>Tổng phải trả : </span>
                            &nbsp;
                            <span class="text-right text-dark b">
                                {{ total }} VNĐ
                            </span>
                        </div>
                        <hr>

                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">
                            <i class="far fa-credit-card"></i> Thanh toán
                        </a>
                    </div>
                </div>
            </aside>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}