{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Thông tin giao hàng</h4>
                        <form action="{% url 'place_order' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Họ và tên đệm</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="col form-group">
                                    <label for="">Tên</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="col form-group">
                                    <label for="">SĐT</label>
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Địa chỉ nhận hàng</label>
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">Ghi chú</label>
                                {{ form.order_note }}
                            </div>
                    </div>
                </div>
            </aside>

            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="120">Số lượng</th>
                                    <th scope="col" width="120">Thành tiền</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for ci in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside">
                                                <img src="{{ ci.product.image.url }}" class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ ci.product.get_detail }}" class="title text-dark">
                                                    {{ ci.product.name }}
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{ci.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">{{ ci.cart_total }}</var>
                                            <small class="text-muted">Đơn giả : {{ ci.product.price }} VNĐ</small>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <hr>
                        <div style="text-align:center;">
                            <span>Tổng phải trả : </span>
                            &nbsp;
                            <span class="text-right text-dark b">
                                {{ total }} VNĐ
                            </span>
                        </div>
                        <hr>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">
                            <i class="far fa-credit-card"></i> Xác nhận đặt món
                        </button>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}