<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/dashboard">
            <i class="fas fa-utensils" style="padding-right: .5rem;color: #27ae60;font-size: 30px;"></i>Măm Măm
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/category">Danh mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/product">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/order">Đơn hàng</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Quay lại</a>
                </li>
            </ul>
        </div>
    </div>
</nav>