{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-conten padding-y bg">
    <div class="container">
        <main class="col-md-12">
            {% for order in orders %}
            <article class="card">
                <header class="card-header" style="display: flex;justify-content: space-between;">
                    <strong style="font-size: 17px;">Ngày đặt : {{ order.created_at }}</strong>
                    <a href="#" class="btn btn-outline-primary"> Đã nhận hàng </a>
                </header>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="text-muted">Thông tin đơn hàng : </h6>
                            <p>Người nhận : {{ order.first_name }} {{ order.last_name }} <br>
                                SĐT : {{ order.phone_number }} <br>
                                Email : {{ order.email }} <br>
                                Địa chỉ: {{ order.address }} <br>
                                Ghi chú : {{ order.order_note }}
                            </p>
                            <b>Tổng : {{ order.order_total }} VNĐ</b>
                        </div>
                        <div class="col-md-8">


                        </div>
                    </div>
                </div>
                <!-- <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <td width="65">
                                <img src="../images/items/1.jpg" class="img-xs border">
                            </td>
                            <td>
                                <p class="title mb-0">Product name goes here </p>
                                <var class="price text-muted">USD 145</var>
                            </td>
                            <td> Seller <br> Nike clothing </td>
                            <td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#"
                                    class="btn btn-light"> Details </a> </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/items/2.jpg" class="img-xs border">
                            </td>
                            <td>
                                <p class="title mb-0">Another name goes here </p>
                                <var class="price text-muted">USD 15</var>
                            </td>
                            <td> Seller <br> ABC shop </td>
                            <td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#"
                                    class="btn btn-light"> Details </a> </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/items/3.jpg" class="img-xs border">
                            </td>
                            <td>
                                <p class="title mb-0">The name of the product goes here </p>
                                <var class="price text-muted">USD 145</var>
                            </td>
                            <td> Seller <br> Wallmart </td>
                            <td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#"
                                    class="btn btn-light"> Details </a> </td>
                        </tr>
                    </table>
                </div> -->
            </article>
            <hr>
            {% endfor %}
        </main>
    </div>
</section>
{% endblock content %}