{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:78vh">
    <div class="card mx-auto" style="max-width: 380px; ">
        <div class="card-body">
            <h4 class="card-title mb-4">Đăng nhập</h4>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Địa chỉ email...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu...">
                </div>

                <div class="form-group">
                    <a href="#" class="float-right">Quên mật khẩu ?</a>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đăng nhập </button>
                </div>
            </form>
        </div>
    </div>

    <p class="text-center mt-4">
        Bạn chưa có tài khoản ? <a href="/user/register">Đăng ký ngay</a>
    </p>
    <br><br>
</section>

{% endblock content %}